:root {
    --color-primary-light: #FF204E;
    --color-primary: #A0153E;
    --color-primary-dark: #5D0E41;
    --color-secondary: #00224D;
  }

body {
    background-color: var(--color-primary);
}

h2 {
    font-size: 5rem;
}
